.align{
    position: relative;
    top: 100px;
    display: block;
    justify-items: center;
}

#title{
    color: rgb(255, 0, 0);
}

.о{
    background-color: rgb(39, 4, 11);
}

#result{
    color: rgb(255, 0, 0);
}

#posch1{
    background-color:  rgb(255, 0, 0);
}

#п{
    transform: scale(3,3);
}

#plus{
    background-color:  rgb(255, 0, 0);
}

#minus{
    background-color:  rgb(255, 0, 0);
}

#umn{
    background-color:  rgb(255, 0, 0);
}

#raz{
    background-color:  rgb(255, 0, 0);
}


.chisla{
    position: relative;
    left: 185px;
    bottom: 5px;
}

#c1{
    background-color: red;
}

#c2{
    background-color: red;
}

#c3{
    background-color: red;
}

#c4{
    background-color: red;
}

#c5{
    background-color: red;
}

#c6{
    background-color: red;
}

#c7{
    background-color: red;
}

#c8{
    background-color: red;
}

#c9{
    background-color: red;
}

#c0{
    position: relative;
    left: 27px;
    top: 1px;
    background-color: red;
}


